In [5]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER );
"""
con = sqlite3.connect("mydata.sqlite")
con.execute(query)

OperationalError: table test already exists

In [6]:
con.commit()

In [7]:
data = [('Atlanta', 'Georgia', 1.25, 6),('Tallahassee', 'Florida', 2.6, 3),('Sacramento', 'California', 1.7, 5)]
stmt = "insert into test values(?,?,?,?)"
con.executemany(stmt, data)

In [8]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [9]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [3]:
import pandas as pd
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

NameError: name 'rows' is not defined

In [6]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:////mydata.sqlite')
data = pd.read_sql('select * from test', db)
data

OperationalError: (sqlite3.OperationalError) no such table: test
[SQL: select * from test]
(Background on this error at: http://sqlalche.me/e/e3q8)