In [1]:
tup = 1,2,3
tup

(1, 2, 3)

In [2]:
tup = (1,2),(3,4)
tup

((1, 2), (3, 4))

In [3]:
tuple([1,2,3])

(1, 2, 3)

In [4]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0]

(1, 2)

In [10]:
t = tuple(['foo',[1,2,3]])
t[1].append(4)
t

('foo', [1, 2, 3, 4])

In [11]:
t + (7,8)

('foo', [1, 2, 3, 4], 7, 8)

In [12]:
t * 4

('foo',
 [1, 2, 3, 4],
 'foo',
 [1, 2, 3, 4],
 'foo',
 [1, 2, 3, 4],
 'foo',
 [1, 2, 3, 4])

In [13]:
tup = (1, 2, 3)
a, b, c = tup
a

1

In [15]:
tup = 4,5,(6,7)
a,b,(c,d) = tup
a

4

In [17]:
seq = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
for a, b, c in seq:
    print('a={0},b={1},c={2}'.format(a, b, c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [22]:
values = 1,2,3,4,5,6
a, b, *_ = values
b

2

In [23]:
values.count(1)

1

In [24]:
tup = 1,2,3,4,5
l = list(tup)
l

[1, 2, 3, 4, 5]

In [25]:
for i,v in enumerate(l):
    print('i={0},v={1}'.format(i, v))

i=0,v=1
i=1,v=2
i=2,v=3
i=3,v=4
i=4,v=5