In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.517206 -0.019499
1    a  two  0.871777  0.000010
2    b  one -0.803105  0.798524
3    b  two -0.041913 -0.406101
4    a  one  1.066337  0.352755